<?xml version="1.0"?>
<urlrewritingnet  rewriteOnlyVirtualUrls="true"
                  contextItemsPrefix="QueryString"
                  defaultPage = "default.aspx"
                  defaultProvider="RegEx"
                  xmlns="http://www.urlrewriting.net/schemas/config/2006/07" >
	<rewrites>
		<add name="Trangchu"  virtualUrl="^~/trang-chu$"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="~/Default.aspx"
            ignoreCase="true" />
		<add name="Lienhe"  virtualUrl="^~/lien-he$"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="~/Contact_Us.aspx"
            ignoreCase="true" />
		<add name="Sanpham"  virtualUrl="^~/danh-sach-san-pham/c(.*)/(.*)$"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="~/ProductList.aspx?id=$1&amp;title=$2"
            ignoreCase="true" />

	</rewrites>
</urlrewritingnet>